html {
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: sans-serif;
}
.center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* height: 70vh;
    margin-bottom: 30vh; */
}
#logo {
    width: auto;
    margin-bottom: 10px;
}
#mic {
    width: 14px;
    height: 20px;
}
#search-icon {
    width: 20px;
    height: 20px;
}
.search-container {
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin: 10px;
    width: 30vw;
}
#search:hover {
    box-shadow: 0px 0px 3px 1px #d5d5d5;
}
#search-bar {
    border: 0px;
    background-color: white;
    width: 26vw;
    margin-right: 1vw;
    margin-left: 1vw;
}
.buttons {
    margin-top: 10px;
}
.button {
    background-color: #f0f0f0;
    border: none;
    color: #4a4a4a;
    padding: 8px 13px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
button:hover {
    border-radius: 2px;
    border: 1px solid #7d7d7d;
    color: black;
    box-shadow: 0px 0px 1px 1px #d5d5d5;
}
a {
    text-decoration: none;
    color: #474747;
}
a:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    justify-content: flex-end;
}
.topright {
    font-size: 13px;
    display: flex;
    flex-flow: row wrap;
    padding-top: 15px;
    padding-right: 6px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.images {
    margin-right: 20px;
}
#dotsmenu {
    width: 15px;
    height: 15px;
    padding-right: 7px;
}
.ninedots:hover {
    cursor: pointer;
}
/* profile image made circular */
#circular {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
#profilepic {
    width: auto;
    height: 100%;
    margin-left: -10px;
}
/* .flexbar1 {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
#grid {
    width: 20px;
    height: 20px;
    opacity: 60%;
}
#grid:hover {
    opacity: 100%;
}
.flexbox1 {
    align-self: flex-start;
    padding-left: 20px;
}
.flexbox2 {
    align-self: flex-end;
}
#signin {
    margin-right: 30px;
    background-color: #195eff;
    border: none;
    color: #ededed;
    border-radius: 3px;
    font-weight: bold;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.footer {
    width: 100%;
    font-size: 13px;
    background-color: #d5d5d5;
    border-top: 1px solid #e1e1e1;
}
.flexbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.flexbox3 {
    align-self: flex-start;
}
.flexbox4 {
    align-self: flex-end;
} */